@use 'config/variaveis.scss';

header{
    background-color: variaveis.$corHeader;
    position: sticky;
    top: 0;
    left: 0;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
    }
}

.menu{
    display: flex;

    li{
        font-weight: bold;
        margin-left: 24px;
        list-style: none;

        a{
            color: #fff;
            text-decoration: none;
        }
    }
}

li{
    list-style: none;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

